<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
var counter = 0;
var nowcounter = 0;
var socket = io.connect(window.location.href);
var preName = 'guest';
var preRoom = '';
var changeNameFlag = true;
var changeRoomFlag = true;
var debug = false;
var preComment = '';

soundManager.url = './swf/';
soundManager.debugMode = false;
var sound_po;
soundManager.onload = function() {
	sound_po = soundManager.createSound({
		id: 'po',
		url: './sounds/po.wav',
		volume: 50   
	});
}

///////////////////////////////////////////////////////////////
var getDateAndTime = function(){
	myTbl     = new Array("sun","mon","tue","wed","thu","fri","sat");
	myD       = new Date();

	myYear    = myD.getYear()
	myYear4   = (myYear < 2000) ? myYear+1900 : myYear;
	myMonth   = myD.getMonth() + 1;
	myDate    = myD.getDate();
	myDay     = myD.getDay();
	myHours   = myD.getHours();
	myMinutes = myD.getMinutes();
	mySeconds = myD.getSeconds();

	myMess1   = myYear4 + "." + myMonth + "." + myDate + ".";
	myMess2   = "("+myTbl[myDay] + ")";
	myMess3   = myHours + ":" + myMinutes + ":" + mySeconds;
	date    = myMess1 + " " + myMess2 + " " + myMess3;
	
	return date;
}

function htmlspecialchars(ch) { 
    ch = ch.replace(/&/g,"&amp;") ;
    ch = ch.replace(/"/g,"&quot;") ;
    ch = ch.replace(/'/g,"&#039;") ;
    ch = ch.replace(/</g,"&lt;") ;
    ch = ch.replace(/>/g,"&gt;") ;
    return ch ;
}

/////////////////////////////////////////////////////////////
var welcome = function(){
	var name = htmlspecialchars(document.getElementById("name").value);
	var room = htmlspecialchars(document.getElementById("room").value);
	var date = getDateAndTime();
	var msg = room + '\:';
	msg += '<div class="post_article grid_12 alpha color-light delayerase">';
	msg += '<div class="content-name">';
	msg += '<span class="namespan">MathTalk System</span>: <span>'+date+'</span>';
	msg += '</div>';//content-name
	msg += '<div class="content-body">';
	msg += '<span class="bold">'+preName+'</span> has come in this chatroom.<br />';
	msg +='roomname: <span class="bold">'+room+'</span>.<br />' 
	msg += "Welcome!";
	msg += '</div>';//content-body
	msg += '<div class="hidden-comment">';
	msg += 'welcome';
	msg += '</div>';//hidden-comment
	msg += '</div>';//article
	
	socket.emit('message', { value: msg });
}

var changeName = function(){
	var name = htmlspecialchars(document.getElementById("name").value);
	var room = htmlspecialchars(document.getElementById("room").value);
	var date=getDateAndTime();
	var msg= room + '\:';
	msg += '<div class="post_article grid_12 alpha color-light delayerase">';
	msg += '<div class="content-name">';
	msg += '<span class="namespan">MathTalk System</span>: <span>'+date+'</span>'
	msg += '</div>';//content-name
	msg += '<div class="content-body">';
	msg += '<span class="bold">'+preName+'</span> has changed name to <span class="bold">'+name+'</span>.' 
	msg += '</div>';//content-body
	msg += '<div class="hidden-comment">'+'welcome';
	msg += '</div>';//hidden-comment
	msg += '</div>';//article
	
	socket.emit('message', { value: msg });
}

var forall = function(){
	var name = htmlspecialchars(document.getElementById("name").value);
	var room = htmlspecialchars(document.getElementById("room").value);
	var date = getDateAndTime();
	var msg = room + '\:';

}

var help = function(){
	var date=getDateAndTime();
	var msg='';
	msg += '<div class="post_article grid_12 alpha">';
	msg += '<div class="content-name">';
	msg += '<span class="namespan">MathTalk System</span>: <span>'+date+'</span>';
	msg += '</div>';//content-name
	msg += '<div class="content-body">';
	msg += '<img src="./images/mathtalkmini.png" alt="mathtalk" /> v0.3<br/>'
	msg += "help file:<br />";
	msg += "　　<span class='bold'>Ctrl+Enter</span>: submit<br />";
	msg += "　　<span class='bold'>Ctrl+↑ or Ctrl+↓</span>: history<br />";
	msg += '　　<span class="bold">Ctrl+E</span>: open <img src="http://chart.apis.google.com/chart?cht=tx&chs=1x0&chf=bg,s,FFFFFF&chco=000000&chl='+encodeURIComponent("\\LaTeX")+'" alt="LaTeX" /> Editor<br />'
	msg += '　　<span class="bold">Ctrl+M</span>: Sound/Mute Trigger<br/>'
	msg += '　　<span class="bold">$ LaTeX commands $</span> : <img src="http://chart.apis.google.com/chart?cht=tx&chs=1x0&chf=bg,s,FFFFFF&chco=000000&chl='+encodeURIComponent("\\LaTeX")+'" alt="LaTeX" /><br />';
	msg += '　　<span class="bold">/help</span> : open help file.';
	msg += '　　<span class="bold">/forall</span> : message for all user';
	msg += '</div>';//content-body
	msg += '<div class="hidden-comment">';
	msg += 'help';
	msg += '</div>';//hidden-comment
	msg += '</div>';//article
	
	$("#content").append(msg);
	
	$(".post_article").fadeIn("1500");
	
	var e = document.getElementById("content");
	e.scrollTop = e.scrollHeight+1000000;
	
	$("#comment").val("");
}

var load = function(){
	
	var date=getDateAndTime();
	var msg='';
	msg += '<div class="post_article grid_12 alpha color-light delayerase">';
		msg += '<div class="content-name">';
			msg += '<span class="namespan">MathTalk System</span>: <span>'+date+'</span>';
		msg += '</div>';
		msg += '<div id="loading" class="content-body">';
			msg += '<img src="./images/loading.gif" alt="loading" /> loading...<br/>'
		msg += '</div>';
		msg += '<div class="hidden-comment">';
			msg += 'help';
		msg += '</div>';
	msg += '</div>';
	
	$("#content").append(msg);
	
	$(".post_article").fadeIn("1500");
	
	var e = document.getElementById("content");
	e.scrollTop = e.scrollHeight+1000000;
	
	$("#comment").val("");
	
}

//////////////////////////////////////////////////////////////
var nameFormOn = function(){
	$("#name-div").css("display","block");
	$("#name-div-link").css("display","none");
	changeNameFlag = true;
}

var nameFormOff = function(){
	var name = htmlspecialchars(document.getElementById("name").value);
	var room = htmlspecialchars(document.getElementById("room").value);
	if(changeNameFlag){
		$("#name-div").css("display","none");
		$("#name-div-link").css("display","block");
		if(htmlspecialchars(name) != preName) changeName();
		$("#info").text("name: "+name.value+" room: "+room);
		preName = name;
	}
	changeNameFlag = false;
}

var roomFormOn = function(){
	$("#room-div").css("display","block");
	$("#room-div-link").css("display","none");
	changeRoomFlag=true;
}

var roomFormOff = function(){
	var name = htmlspecialchars(document.getElementById("name").value);
	var room = htmlspecialchars(document.getElementById("room").value);
	if(changeRoomFlag){
		$("#room-div").css("display","none");
		$("#room-div-link").css("display","block");
		if(room != preRoom) welcome();
		$("#info").text("name: "+name+" room: "+room);
		preRoom = room;
	}
	changeRoomFlag=false;
}

//////////////////////////////////////////////////////////////
$(document).ready(function(){
	help();
	load();
});

/////////////////////////////////////////////////////////////
socket.on('connect', function(msg) {
	$("#loading").text("Connected!");
	$(".delayerase").delay("5000").slideUp("1500",function(){ $(this).remove(); });
});

//////////////////////////////////////////////////////////////////
socket.on('message', function(msg) {
	var key = msg.value.indexOf("\:",0);
	var roomname = msg.value.substring(0,key);
	var msgcontent = msg.value.substr(key+1);
	
	if(roomname==document.getElementById("room").value || debug || roomname=="/forall"){
		$("#content").append(msgcontent);
		$(".post_article").fadeIn("1500");
		$(".delayerase").delay("5000").slideUp("1500",function(){ $(this).remove(); });
		
		var e = document.getElementById("content");
		e.scrollTop = e.scrollHeight+1000000;
		
		if(!document.formname.mute.checked)　sound_po.play();
	}
});

//////////////////////////////////////////////////////////////////

function SendMsg() {
	
	var name = htmlspecialchars(document.getElementById("name").value);
	
	var comment = htmlspecialchars(document.getElementById("comment").value);
	var rawcomment=comment;
	if(comment=="/help") name = "MathTalk System";
	comment = comment.replace(/\\\[/g, "$");
	comment = comment.replace(/\\\]/g, "$");
	comment = comment.replace(/(http:\/\/[\x21-\x7e]+\.[\x21-\x7e]+)/gi, "<a href='$1' target='_blank'>$1</a>");
	comment = comment.replace(/\$[\\|\¥]mathtalk\$/ig, '<img src="./images/mathtalkmini.png" alt="mathtalk" />');
	
	var room;
	if((/^\/forall/).test(comment)){	
		room = "/forall";
	}else{
		room = document.getElementById("room").value;		
	}
	
	var date = getDateAndTime();

	var msg = '';	
	msg += room+'\:';
	if((/^\/forall/).test(comment)){	
		msg += '<div class="post_article grid_12 alpha color-light delayerase">';
	}else{
		msg += '<div class="post_article grid_12 alpha">';		
	}
	msg += '<div class="content-name">';
	msg += '<span class="namespan">'+name+'</span>　at <span class="bold">'+room+'</span> : <span>'+date+'</span>';
	msg += '</div>';//content-name
	msg += '<div class="content-body">';
		
	if((/^\/help/).test(comment)){
		
		help();
			
	}else{
		
		if(/^\/forall/){
			comment = comment.replace(/^\/forall/,"this comment is for all:<br />");
		}
		
		var resArray=comment.split("$");
		for(var i=0; i<resArray.length; i++){
			if(i%2==0){
				resArray[i] = resArray[i].replace(/\r\n/g, "<br />");
				resArray[i] = resArray[i].replace(/(\n|\r)/g, "<br />");
				msg+=resArray[i];
			}else{
				resArray[i] = resArray[i].replace(/\¥/g,"\\");
				msg+='<img src="http://chart.apis.google.com/chart?cht=tx&chs=1x0&chf=bg,s,FFFFFF&chco=000000&chl='+encodeURIComponent(resArray[i])+'" alt="'+rawcomment+'" />'
			}
		}
		
		//error
		var errorMsg='';
		
		if(name==''){
			errorMsg+="name is empty.\n";
		}else{
			nameFormOff();
		}
		
		if(room==''){
			errorMsg+="room name is empty.";
		}else{
			roomFormOff();
		}
		
		msg += '</div>';//comment-body
		msg += '<div class="hidden-comment" id="'+name+'\-'+counter+'">';
		msg += rawcomment;
		msg += '</div>';//hidden-comment
		msg += '</div>';//article
	
		if(rawcomment!=''&&name!=''&&room!=''){
			socket.emit('message', { value: msg });
			$("#comment").val("");
		}else if(rawcomment!=''){
			alert(errorMsg);
		}
		
		counter++;
		nowcounter=counter;
		
	}
}

$(document).ready(
	
	function(){
		
		$('#comment').gpKey("down",
			{
				"^&D":function(){
					debug = !debug;
				},
				"^enter":function(){
					SendMsg();
				},
				"^up":function(){
					(nowcounter>0)?nowcounter--:nowcounter=0;
					var id = "#"+document.getElementById("name").value+"\-"+nowcounter;
					var str = $(id).text();
					$('#comment').val(str);
				},
				"^down":function(){
					(nowcounter<counter)?nowcounter++:nowcounter=counter;
					var id = "#"+document.getElementById("name").value+"\-"+nowcounter;
					var str = $(id).text();
					$('#comment').val(str);
				},
				"^e":function(){
					OpenLatexEditor('comment','latex','',false,'','full');
				},
				"^m":function(){
					document.formname.mute.checked = !document.formname.mute.checked;
				}
			}
		);
		
		$('#name').gpKey("down",
			{
				"^enter":function(){
					SendMsg();
				},
				"^up":function(){
					(nowcounter>0)?nowcounter--:nowcounter=0;
					var id = "#"+document.getElementById("name").value+"\-"+nowcounter;
					var str = $(id).text();
					$('#comment').val(str);
				},
				"^down":function(){
					(nowcounter<counter)?nowcounter++:nowcounter=counter;
					var id = "#"+document.getElementById("name").value+"\-"+nowcounter;
					var str = $(id).text();
					$('#comment').val(str);
				},
				"^e":function(){
					OpenLatexEditor('comment','latex','',false,'','full');
				},
				"^m":function(){
					document.formname.mute.checked = !document.formname.mute.checked;
				}
			}
		)
		
		$('#room').gpKey("down",
			{
				"^enter":function(){
					SendMsg();
				},
				"^up":function(){
					(nowcounter>0)?nowcounter--:nowcounter=0;
					var id = "#"+document.getElementById("name").value+"\-"+nowcounter;
					var str = $(id).text();
					$('#comment').val(str);
				},
				"^down":function(){
					(nowcounter<counter)?nowcounter++:nowcounter=counter;
					var id = "#"+document.getElementById("name").value+"\-"+nowcounter;
					var str = $(id).text();
					$('#comment').val(str);
				},
				"^e":function(){
					OpenLatexEditor('comment','latex','',false,'','full');
				},
				"^m":function(){
					document.formname.mute.checked = !document.formname.mute.checked;
				}
			}
		)
	}
);
////////////////////////////////////////////////////////
</script>
<div id="content" class=""></div>
<div class="clear"></div>
<br>
<form name="formname">
	<div id="info"></div>
	<div id="name-div">Name: <input id="name" name="name" type="text" /></div>
	<div id="name-div-link" onclick="nameFormOn()">change name</div>
	<div id="room-div">Room: <input id="room" name="room" type="text" /></div>
	<div id="room-div-link" onclick="roomFormOn()">change room</div>
	<input id="sound" name="mute" type="checkbox" value="mute" />mute
	<div class="clear"></div>
	<textarea id="comment" class="comment" onchange name="content" cols="100" rows="5"></textarea><br />
	<input id="submit_btn" type="button" value="submit" onclick="SendMsg()" />
	<input id="reset_btn" type="reset" value="reset" />
	<a href="javascript:OpenLatexEditor('comment','latex','',false,'','full');" class="editorlink">
		Editor by CodeCogs
	</a>
</form>
<div id="receiveMsg"></div>