<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
var socket = io.connect(window.location.href);
socket.on('connect', function(msg) {
  console.log("connet");
});

socket.on('message', function(msg) {
	$("#content").append(msg.value);
	$(".post_article:hidden").fadeIn("1500");
	var e = document.getElementById("content");
	e.scrollTop = e.scrollHeight;
});

function SendMsg() {
	var name = document.getElementById("name").value;
	var comment = document.getElementById("comment").value;
	var rawcomment=comment;
	if(comment=="/help") name = "MathTalk System"
	var msg = '';
	myTbl     = new Array("日","月","火","水","木","金","土");
	myD       = new Date();

	myYear    = myD.getYear()
	myYear4   = (myYear < 2000) ? myYear+1900 : myYear;
	myMonth   = myD.getMonth() + 1;
	myDate    = myD.getDate();
	myDay     = myD.getDay();
	myHours   = myD.getHours();
	myMinutes = myD.getMinutes();
	mySeconds = myD.getSeconds();

	myMess1   = myYear4 + "年" + myMonth + "月" + myDate + "日";
	myMess2   = "("+myTbl[myDay] + ")";
	myMess3   = myHours + "時" + myMinutes + "分" + mySeconds + "秒";
	date    = myMess1 + " " + myMess2 + " " + myMess3;
		
	msg = '<div class="post_article grid_12"><div class="content-name">'+name+': '+date+'</div><div class="content-body">';
	comment = comment.replace(/(http:\/\/[\x21-\x7e]+\.[\x21-\x7e]+)/gi, "<a href='$1' target='_blank'>$1</a>");
	if(comment!="/help"){
		var resArray=comment.split("$");
		for(var i=0; i<resArray.length; i++){
			if(i%2==0){
				resArray[i] = resArray[i].replace(/\r\n/g, "<br />");
				resArray[i] = resArray[i].replace(/(\n|\r)/g, "<br />");
				msg+=resArray[i];
			}else{
				resArray[i] = resArray[i].replace(/\¥/g,"\\");
				msg+='<img src="http://chart.apis.google.com/chart?cht=tx&chs=1x0&chf=bg,s,FFFFFF&chco=000000&chl='+encodeURIComponent(resArray[i])+'" alt="'+rawcomment+'" />'
			}
		}
	} else {
		msg+= "help file:<br />　　The charactors between $ and $ means "+'<img src="http://chart.apis.google.com/chart?cht=tx&chs=1x0&chf=bg,s,FFFFFF&chco=000000&chl='+encodeURIComponent("\\LaTeX")+'" alt="LaTeX" /><br />';
		msg+= "　　Ctrl+Enter: submit<br />";
		msg+= "　　Ctrl+↑: history<br />";
	}
	
	msg+='</div><div class="hidden-comment">'+rawcomment+'</div>'
	if(rawcomment!=''&&name!=''){
		socket.emit('message', { value: msg });
		$("#name-div").css("display","none");
		$("#comment").val("");
	}
	if(name==''){
		alert("name is empty.");
	}
}
// 切断する
function DisConnect() {
  var msg = socket.socket.transport.sessid + "は切断しました。";
  // メッセージを発射する
  socket.emit('message', { value: msg });
  // socketを切断する
  socket.disconnect();
}

$(document).ready(
	function(){
		$('#comment').gpKey("down",
			{
				"^enter":function(){SendMsg();},
				"^up":function(){var str = $(".hidden-comment:last").text(); $('#comment').val(str);}
			}
		);
	}
);
</script>
<div id="content" class="grid_12"></div>
<div class="clear"></div>
<br>
<form name="formname">
<input name="id" type="hidden" value="<?php echo $id; ?>">
　<div id="name-div">Name: <input id="name" name="name" type="text" /></div><br />
 <textarea id="comment" class="comment" name="content" cols="100" rows="5"></textarea><br />
　<input id="submit_btn" type="button" value="submit" onclick="SendMsg()" />
　<input id="reset_btn" type="reset" value="reset" /><br/>
</form>
<div id="receiveMsg"></div>