<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
var counter = 0;
var nowcounter = 0;
var socket = io.connect(window.location.href);
socket.on('connect', function(msg) {
  //console.log("connect");
});

var nameFormOn = function(){
	$("#name-div").css("display","block");
	$("#name-div-link").css("display","none");
}
var nameFormOff = function(){
	$("#name-div").css("display","none");
	$("#name-div-link").css("display","block");
	$("#info").text("name: "+document.getElementById("name").value+"  room: "+document.getElementById("room").value);
}

var roomFormOn = function(){
	$("#room-div").css("display","block");
	$("#room-div-link").css("display","none");
}
var roomFormOff = function(){
	$("#room-div").css("display","none");
	$("#room-div-link").css("display","block");
	$("#info").text("name: "+document.getElementById("name").value+"  room: "+document.getElementById("room").value);
}

socket.on('message', function(msg) {
	var key = msg.value.indexOf("\:",0);
	var roomname = msg.value.substring(0,key);
	var msgcontent = msg.value.substr(key+1);
	if(roomname==document.getElementById("room").value){
		$("#content").append(msgcontent);
		$(".post_article:hidden").fadeIn("1500");
		var e = document.getElementById("content");
		e.scrollTop = e.scrollHeight;
	}
});

function SendMsg() {
	var name = document.getElementById("name").value;
	var comment = document.getElementById("comment").value;
	var rawcomment=comment;
	if(comment=="/help") name = "MathTalk System"
	var msg = '';
	var room = document.getElementById("room").value;
	myTbl     = new Array("sun","mon","tue","wed","thu","fri","sat");
	myD       = new Date();

	myYear    = myD.getYear()
	myYear4   = (myYear < 2000) ? myYear+1900 : myYear;
	myMonth   = myD.getMonth() + 1;
	myDate    = myD.getDate();
	myDay     = myD.getDay();
	myHours   = myD.getHours();
	myMinutes = myD.getMinutes();
	mySeconds = myD.getSeconds();

	myMess1   = myYear4 + "." + myMonth + "." + myDate + ".";
	myMess2   = "("+myTbl[myDay] + ")";
	myMess3   = myHours + ":" + myMinutes + ":" + mySeconds;
	date    = myMess1 + " " + myMess2 + " " + myMess3;
	
	msg += room+'\:';
	msg += '<div class="post_article grid_12 alpha"><div class="content-name">'+name+': '+date+'</div><div class="content-body">';
	comment = comment.replace(/(http:\/\/[\x21-\x7e]+\.[\x21-\x7e]+)/gi, "<a href='$1' target='_blank'>$1</a>");
	if(comment!="/help"){
		var resArray=comment.split("$");
		for(var i=0; i<resArray.length; i++){
			if(i%2==0){
				resArray[i] = resArray[i].replace(/\r\n/g, "<br />");
				resArray[i] = resArray[i].replace(/(\n|\r)/g, "<br />");
				msg+=resArray[i];
			}else{
				resArray[i] = resArray[i].replace(/\¥/g,"\\");
				msg+='<img src="http://chart.apis.google.com/chart?cht=tx&chs=1x0&chf=bg,s,FFFFFF&chco=000000&chl='+encodeURIComponent(resArray[i])+'" alt="'+rawcomment+'" />'
			}
		}
	} else {
		msg+= "help file:<br />　　The charactors between $ and $ means "+'<img src="http://chart.apis.google.com/chart?cht=tx&chs=1x0&chf=bg,s,FFFFFF&chco=000000&chl='+encodeURIComponent("\\LaTeX")+'" alt="LaTeX" /><br />';
		msg+= "　　Ctrl+Enter: submit<br />";
		msg+= "　　Ctrl+↑: history<br />";
	}
		
	var errorMsg='';
	if(name==''){
		errorMsg+="name is empty.";
	}else{
		nameFormOff();
	}
	if(room==''){
		errorMsg+="room name is empty";
	}else{
		roomFormOff();
	}
	
	if(rawcomment!=''&&name!=''&&room!=''){
		counter++;
		nowcounter=counter;
		msg+='</div><div class="hidden-comment" id="'+name+'\-'+counter+'">'+rawcomment+'</div>'
		socket.emit('message', { value: msg });
		$("#comment").val("");
	}else if(rawcomment!=''){
		alert(errorMsg);
	}

}

$(document).ready(
	function(){
		$('#comment').gpKey("down",
			{
				"^enter":function(){SendMsg();},
				"^up":function(){
					(nowcounter>1)?nowcounter--:nowcounter=1;
					var id = "#"+document.getElementById("name").value+"\-"+nowcounter;
					var str = $(id).text();
					$('#comment').val(str);
				},
				"^down":function(){
					(nowcounter<counter)?nowcounter++:nowcounter=counter;
					var id = "#"+document.getElementById("name").value+"\-"+nowcounter;
					var str = $(id).text();
					$('#comment').val(str);
				}
			}
		);
	}
);
</script>
<div id="content" class=""></div>
<div class="clear"></div>
<br>
<form name="formname">
<input name="id" type="hidden" value="<?php echo $id; ?>">
<div id="info"></div>
　<div id="name-div">Name: <input id="name" name="name" type="text" /></div>
<div id="name-div-link" onclick="nameFormOn()">change name</div>
 <div id="room-div">Room: <input id="room" name="room" type="text" /></div>
<div id="room-div-link" onclick="roomFormOn()">change room</div>
<div class="clear"></div>
 <textarea id="comment" class="comment" name="content" cols="100" rows="5"></textarea><br />
　<input id="submit_btn" type="button" value="submit" onclick="SendMsg()" />
　<input id="reset_btn" type="reset" value="reset" /><br/>
</form>
<div id="receiveMsg"></div>