body{
	background: #fff;
	margin: 0;
	text-align: center;
	font-size: 9pt;
}

#container{
	margin-top: 5px;
	text-align:left;
}

#header{
	border-bottom: 1px #666 solid;
}

#formname{
	border-bottom: 1px #ddd solid;
	padding-bottom: 30px;
	padding-top:0;
}

.post_article{
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px #ddd solid;
	display: none;
}

#content{
	overflow-y: scroll;
	height:400px;
	margin-top:20px;
	border: #ddd 1px solid;
}

.content-body{
	font-size: 10pt;
	padding-left: 20px;
}

.content-name{
	margin-bottom: 10px;
	font-size: 9px;
	padding-left: 10px;
}

.hidden-comment{
	display: none;
}

#name-div{
	margin-left: 10px;
	padding: 0;
	float:left;
	font-size: 6pt;
}

#name-div-link{
	color: #00f;
	text-decoration: underline;
	margin-left: 10px;
	padding:0;
	float : left;
	font-size: 6pt;
	display: none;
}

#room-div{	
	margin-left: 10px;
	padding: 0;
	float:left;
	font-size: 6pt;
}
#room-div-link{
	margin-left:10px;
	padding:0;
	float:left;
	font-size: 6pt;
	display: none;
	color: #00f;
	text-decoration: underline;
}

#info{
	float: left;
	font-size: 6pt;
}